@model AgendaContatos.AppService.Models.ContatoModel

@{
    ViewData["Title"] = "Novo contato";
}

<h2>Novo contato</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ContatoNome" class="control-label"></label>
                <input asp-for="ContatoNome" class="form-control" />
                <span asp-validation-for="ContatoNome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContatoEmail" class="control-label"></label>
                <input asp-for="ContatoEmail" class="form-control" />
                <span asp-validation-for="ContatoEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContatoCelular" class="control-label"></label>
                <input asp-for="ContatoCelular" class="form-control" />
                <span asp-validation-for="ContatoCelular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar contato" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
