<table class="table">
    <tr>
        <td><img src="https://media.licdn.com/dms/image/C4D03AQHv4LEcWylKkA/profile-displayphoto-shrink_200_200/0?e=1557360000&v=beta&t=JeT9bLqvcJhWOW2jNFveP4BAVSF2S2Hr2ofgKw06fTU" height="128" width="128"></td>
        <td>
            <h2>Robert Gaffo</h2>
            <h3>Desenvolvedor Full Stack .Net, C#, MCTS, MBA</h3>
        </td>
    </tr>

</table>

<a href="https://www.linkedin.com/in/robertgaffo/" target="_blank">
    <img src="https://fontmeme.com/images/Linkedin-Logo.jpg" height="100px" width="100px" /><br />
    Veja mais detalhes no linkedIn
</a>